@model TestIdentity.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>編輯帳號</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NickName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NickName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEnabled, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.LockoutEnabled, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LockoutEnabled)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">群組</label>
            <div>
                @foreach (var item in ViewBag.UserInRoles)
                {
                    <div class="radio">
                        <label>
                            <input type="radio" name="SelectedRole" value="@item.Value" checked="@item.Selected">
                            @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">&nbsp;修改</button>
            <button type="button" data-closelightbox="true" class="btn btn-warning">&nbsp;取消</button>
        </div>

    </div>
}